* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Inter', sans-serif;
}
a {
    text-decoration: none;
}

h1,h2{
    font-size: 50px;
}
img{
    width: 100%;
}
section {
    padding: 60px 0px;
}

p {
    color: rgb(124, 121, 118);
    margin: 14px 0px;
    line-height: 35px;
    text-shadow: rgba(247, 103, 1, 0.33) 0px 0px 20px;
    font-size: 20px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.col_lg_50 {
    width: 50%;
}
.col_lg_33 {
    width: 33.33%;
}
.col_lg_40 {
    width: 45%;
}
.col_lg_60 {
    width: 60%;
}
.col_lg_100{
    width: 100%;
}
.text_align_left{
    text-align: left
}
.text_align_right{
    text-align: right
}
.btn {
    text-transform: uppercase;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 15px 60px;
    display: inline-block;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    border-radius: 8px;
    letter-spacing: 1px;
    font-weight: 500;
    border: 1px solid orange;
    transition: all 0.5s ease-in-out 0s;
}

.btn:hover {
    background: transparent;
    color: rgb(0, 0, 0);
}
.img_85 img {
    width: 85%;
}

/* common start */
.common_box_img {
    position: relative;
    z-index: 1;
}
.common_box_des {
    padding-right: 15px;
}
.common_box_des h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #333333;
}

/* common end */

/* header start  */
.header_box span {
    color: orange;
}
.header_box h1 {
    position: relative;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 1px;
    padding-left: 23px;
    font-size: 66px;
    font-family: 'Fraunces', serif;
}
.header_box h1::before {
    content: "";
    width: 4px;
    height: 115px;
    background: orange;
    left: 0;
    position: absolute;
    top: 17px;
}
.header_box p {
    padding-right: 110px;
}
.header_box .extra_text {
    font-size: 16px;
    margin-top: 45px;
}
.header_img img {
    width: 80%;
}
.header_img {
    text-align: right;
}
/* header end  */

/* mission start  */
.mission_title h2 {
    text-align: center;
    font-weight: 800;
    margin: 50px 0;
}
.mission_title h2 span {
    color: orange;
}
.mission_items {
    margin: 15px;
    background: #f3f3f3;
    padding: 23px;
    border-radius: 20px;
}
.mission_items .icon img {
    width: 130px;
}
.mission_des {
    margin-top: 15px;
    padding-left: 15px;
}
.mission_des p {
    font-size: 18px;
    font-weight: 400;
}
/* mission end */

/* develop start */
.developer_shape img {
    position: absolute;
    width: 45%;
    left: -18%;
    z-index: -1;
    top: 20%;
}
/* develop end */
/* community start */
#community {
    padding-bottom: 160px;
}
#community .community_shape img {
    position: absolute;
    width: 45%;
    z-index: -1;
    bottom: -24%;
    right: -20%;
}
/* community end */

/* footer start */
#footer {
    background: #0B0D17;
    color: #fff;
    text-align: center;
    padding: 37px 0;
}
.copy_right h3 {
    font-size: 35px;
    font-weight: 400;
    font-family: 'Lobster', cursive;
}
.copy_right h3 span {
    color: #FF5959;
}
.copy_right p {
    font-size: 18px;
    color: #6F7179;
}
/* footer end */
